results/log.html
results/output.xml
results/playwright-log-1707941512053946500.txt
results/playwright-log.txt
results/report.html
results/browser/screenshot/robotframework-browser-screenshot-1.png
results/browser/screenshot/robotframework-browser-screenshot-2.png
